<ng-template ngFor let-book [ngForOf]="list" class="book">
  <ng-template [ngIf]="book.read === bookIsRead">
    <div class="book">
      <div class="book-cover">
        <img class="book-cover_img" src="{{book.cover}}" alt="cover image">
      </div>
      <div class="book-content">
        <h3 class="book-content_title">{{book.title}}</h3>
        <h4 class="book-content_series">Series: {{book.series}}</h4>
        <p class="book-content_author">{{book.author}}</p>
      </div>
      <div class="book-hover" >
        <div *ngFor="let btn of button">
            <button (click)="bookAct(book, btn)">{{ btn }}</button>
        </div>
      </div>
    </div>
  </ng-template>
</ng-template>

